/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */

/* ---------- FONTS ---------- */

$font-josefin: 'Montserrat', 'Arial', sans-serif;

$fw-thin:         100;
$fw-hairline:     100;
$fw-extralight:   200;
$fw-ultralight:   200;
$fw-light:        300;
$fw-normal:       400;
$fw-book:         400;
$fw-regular:      400;
$fw-roman:        400;
$fw-medium:       500;
$fw-semibold:     600;
$fw-demibold:     600;
$fw-bold:         700;
$fw-extrabold:    800;
$fw-heavy:        800;
$fw-ultrabold:    900;
$fw-black:        900;
$fw-ultra:        900;
$fw-ultrablack:   900;
$fw-extraultra:   900;

/* ---------- COLORS ---------- */

$main-blue: #274C97;
$dark-blue: #11205E;
$black: #000000;
$white: #FFFFFF;
$white-beige: #F0F0F9;
$light-yellow: #E0D3BB;
$yellow: #FFAD06;
$light-blue: #BAE0E9;
$light-green: #C1D2B0;
$light-brown: #DEC8A7;
$grey: #E5E5E5;