/* ---------------------- */
/*      SUBSCRIPTION      */
/* ---------------------- */

@import '../config/variables.scss';
@import '../config/fonts.scss';

.subscription {
	width: 100%;
	height: 100vh;
	background-color: $main-blue;

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin: auto;
		background-repeat: no-repeat;

		.yellow-btn,
		.light-yellow-btn {
			position: absolute;
			bottom: 53px;
		}

		.light-yellow-btn {
			&.is-active {
				background-color: $yellow;
			}
		}

		&--first {
			background-image: url('../../img/background-5.svg');
			background-position: bottom;

			&.is-hidden {
				display: none;
			}
		}

		&--second {
			display: none;
			background-image: url('../../img/background-11.svg');
			background-position: bottom;

			&.is-active {
				display: flex;
			}
		}

		&--third {
			display: none;
			background-image: url('../../img/background-12.svg');
			background-position: bottom;

			&.is-active {
				display: flex;
			}
		}

		&--fourth {
			display: none;
			background-image: url('../../img/background-13.svg');
			background-position: bottom;

			&.is-active {
				display: flex;
			}
		}

		&--fifth {
			display: none;
			background-image: url('../../img/background-10.svg');
			background-position: center 100px;

			&.is-active {
				display: flex;
			}
		}

		&--sixth {
			display: none;
			background-image: url('../../img/background-14.svg');
			background-position: bottom;

			&.is-active {
				display: flex;
			}
		}

		&--seventh {
			display: none;
			background-image: url('../../img/background-15.svg');
			background-position: bottom;

			&.is-active {
				display: flex;
			}

			.yes,
			.no {
				transition: all 0.2s ease-in-out;

				&.is-active {
					background-color: $dark-blue;
					color: $white;
				}
			}
		}

		&--eighth {
			display: none;
			background-image: url('../../img/background-16.svg');
			background-position: bottom;

			&.is-active {
				display: flex;
			}
		}

		&--nineth {
			display: none;
			background-image: url('../../img/background-9.svg');
			background-position: bottom left;

			&.is-active {
				display: flex;
			}

			.watch {
				margin: 100px 0 0 0;
			}

			.long-grey-btn {
				margin: 0 0 37px 0;
				transition: all 0.2s ease-in-out;

				&.is-active {
					background-color: $dark-blue;
					color: $white;
				}
			}
		}

		&--tenth {
			display: none;
			background-image: url('../../img/background-17.svg');
			background-position: bottom left;

			&.is-active {
				display: flex;
			}
		}
	}

	&__progression-bar {
		position: absolute;
		top: 100px;
		width: 185px;
		height: 9px;
		margin: 0 0 50px 0;
		border-radius: 5px;
		background-color: $white;

		.progression {
			height: 9px;
			border-radius: 9px;
			background-color: $yellow;

			&--first {
				width: 17px;
			}

			&--second {
				width: 34px;
			}

			&--third {
				width: 48px;
			}

			&--fourth {
				width: 76px;
			}

			&--fifth {
				width: 87px;
			}

			&--sixth {
				width: 104px;
			}

			&--seventh {
				width: 130px;
			}

			&--eighth {
				width: 158px;
			}

			&--nineth {
				width: 164px;
			}
		}
	}

	&__subtitle {
		position: absolute;
		top: 160px;
		font-family: 'Montserrat';
		font-weight: $fw-semibold;
		font-size: 30px;
		line-height: 35px;
		color: $white;
		text-align: center;
	}

	&__title {
		width: 60%;
		margin: 50px 0 30px 0;
		font-family: 'Montserrat';
		font-weight: $fw-semibold;
		font-size: 40px;
		line-height: 45px;
		color: $white;
		text-align: center;
	}

	&__text {
		width: 75%;
		margin: 60px 0 40px 0;
		font-family: 'Montserrat';
		font-weight: $fw-regular;
		font-size: 16px;
		line-height: 21px;
		color: $white;
		text-align: center;
	}

	&__date-wrapper {
		margin: 120px 0 20px;
        font-family: 'Montserrat';
        font-weight: $fw-regular;
        color: $white;
        text-align: center;
        line-height: 135%;

        .date-small {
            margin: 30px 0;
            font-size: 20px;
            opacity: 0.5;

            span {
                margin: 0 40px;
            }
        }

        .date-medium {
            margin: 30px 0;
            font-size: 22px;
            opacity: 0.5;

            span {
                margin: 0 50px;
            }
        }

        .date-large {
            margin: 30px 0;
            background-color: $dark-blue;
            border-radius: 10px;
            padding: 17px;
            font-size: 30px;
            opacity: 1;

            span {
                margin: 0 60px;
            }
        }
    }

	&__small-text {
		width: 75%;
		margin: -20px 0 40px 0;
		font-family: 'Montserrat';
		font-weight: $fw-regular;
		font-size: 10px;
		line-height: 21px;
		color: $white;
		text-align: center;
	}

	&__wave {
		position: absolute;
		top: 260px;
	}

	&__check {
		width: 218px;
		margin: 0 0 118px 0;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 160px 0 35px 0;

		input {
			margin: 0 0 30px 0;
			padding: 0 20px;
		}
	}

	&__input {
		margin: 20px 0 35px 0;
		padding: 0 20px;
	}

	&__gender-wrapper,
	&__activity-wrapper {
		display: flex;
		align-items: center;
		margin: 110px 0 90px 0;
	}

	&__gender,
	&__activity {
		position: relative;
		width: 132px;
		height: 172px;
		margin: 0 6px;
		background-color: $white;
		border-radius: 8px;
		transition: all 0.5s ease-in-out;

		p {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 19px;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: $fw-semibold;
			line-height: 21px;
			color: $dark-blue;
		}

		img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 35px;
		}

		&--male {
			&.is-active {
				width: 142px;
				height: 185px;
	
				&::before {
					content: '';
					position: absolute;
					top: -8px;
					left: -6px;
					width: 152px;
					height: 199px;
					border-radius: 8px;
					border: 1px solid $yellow;
				}
			}
		}

		&--female {
			&.is-active {
				width: 142px;
				height: 185px;
	
				&::before {
					content: '';
					position: absolute;
					top: -8px;
					left: -6px;
					width: 152px;
					height: 199px;
					border-radius: 8px;
					border: 1px solid $yellow;
				}
			}
		}

		&--swim {
			&.is-active {
				width: 142px;
				height: 185px;
	
				&::before {
					content: '';
					position: absolute;
					top: -8px;
					left: -6px;
					width: 152px;
					height: 199px;
					border-radius: 8px;
					border: 1px solid $yellow;
				}
			}
		}

		&--surf {
			&.is-active {
				width: 142px;
				height: 185px;
	
				&::before {
					content: '';
					position: absolute;
					top: -8px;
					left: -6px;
					width: 152px;
					height: 199px;
					border-radius: 8px;
					border: 1px solid $yellow;
				}
			}
		}
	}

	&__next-btn {
		display: flex;
		align-items: center;
		justify-content: center;

		&.is-active {
			.subscription__round {
				position: relative;
				background-color: $yellow;
				transition: all 0.2s ease-in-out;

				&::before {
					content: '';
					position: absolute;
					top: -5px;
					left: -5px;
					width: 40px;
					height: 40px;
					border-radius: 100%;
					border: 1px solid $yellow;
				}
			}
		}
	}

	&__round {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		background-color: $white;
	}

	&__nogender,
	&__later {
		position: relative;
		margin: 0px 0 0px 10px;
		font-family: 'Montserrat';
		font-size: 14px;
		font-weight: $fw-regular;
		line-height: 22px;
		color: $white;
	}

	&__picture {
		position: relative;
		width: 228px;
		height: 228px;
		margin: 130px 0 60px 0;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, 0.6);
	}

	&__level-wrapper {
		display: flex;
		flex-direction: column;
		margin: 180px 0 60px 0;

		.begginner,
		.intermediate,
		.advanced {
			transition: all 0.2s ease-in-out;

			&.is-active {
				background-color: $dark-blue;
				color: $white;
			}
		}
	}
}