/* ---------------------- */
/*           INFO         */
/* ---------------------- */
/* ---------------------- */
/*         BUTTONS        */
/* ---------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ------ MONTSERRAT BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Bold.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Light.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Medium.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT REGULAR ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Regular.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-SemiBold.svg") format("svg");
  font-display: swap;
}
.blue-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
}

.grey-btn {
  width: 70px;
  height: 26px;
  border-radius: 24px;
  background-color: #D9D9D9;
  color: #000000;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 23px;
  appearance: none;
  -webkit-appearance: none;
}

.yellow-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #FF9933;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
}

.white-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #FFFFFF;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
}

.dark-blue-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #11205E;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
}

.light-yellow-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #E0D3BB;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
}

.return-btn {
  position: absolute;
  top: 85px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #11205E;
  background-image: url("../../img/white-left-chevron.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

.add-picture-btn {
  position: absolute;
  bottom: 5px;
  right: 30px;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background-image: url("../../img/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  background-color: #FFFFFF;
  appearance: none;
  -webkit-appearance: none;
}

.long-grey-btn {
  width: 284px;
  height: 54px;
  margin: 0 0 37px 0;
  border-radius: 8px;
  background-color: #F0F0F9;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
}

/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
.info {
  width: 100%;
}
.info__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 92vh;
  margin: 78px auto 0;
  overflow-y: scroll;
  background-color: #274C97;
  background-image: url("../../img/background-27.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.info__visual {
  margin: 130px 0 50px 0;
  border-radius: 30px;
}
.info__title {
  margin: 20px 0 40px 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
}
.info__text {
  width: 75%;
  margin: 0 0 30px 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.info .yellow-btn {
  margin: 0 0 20px 0;
}
.info__btn {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: underline;
}

/*# sourceMappingURL=info.css.map */
