/* ---------------------- */
/*       ON BOARDING      */
/* ---------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ------ MONTSERRAT BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Bold.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Light.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Medium.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT REGULAR ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-Regular.svg") format("svg");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../../fonts/Montserrat/Montserrat-SemiBold.svg") format("svg");
  font-display: swap;
}
.onboarding {
  background-color: #274C97;
  background-image: url("../../img/background-25.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.onboarding.is-hidden {
  display: none;
}
.onboarding__logo {
  margin: 165px 0 105px;
}
.onboarding__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.onboarding__first.is-hidden {
  display: none;
}
.onboarding__title {
  width: 80%;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}
.onboarding__image--first {
  width: 317px;
  height: 317px;
  margin: 50px 0 60px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/onboarding-visual.jpg");
}
.onboarding__image--second {
  width: 317px;
  height: 317px;
  margin: 50px 0 60px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/onboarding-visual-2.jpg");
}
.onboarding__image--third {
  width: 317px;
  height: 317px;
  margin: 50px 0 60px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/onboarding-visual-3.jpg");
}
.onboarding__text {
  margin: 22px 0 0 0;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #FFFFFF;
}
.onboarding__link {
  text-decoration: underline;
}
.onboarding__second {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #274C97;
}
.onboarding__second.is-active {
  display: flex;
}
.onboarding__pass-btn {
  position: absolute;
  top: 30px;
  right: 15px;
}
.onboarding__slider-wrapper {
  width: 100%;
  height: 100%;
}
.onboarding__slider-wrapper .slick-list {
  overflow-x: hidden;
}
.onboarding__slider-wrapper .slick-list .slick-track {
  display: flex;
  height: 100vh;
}
.onboarding__slider-wrapper .slick-list .slick-track .slick-slide {
  display: flex;
  flex-direction: column;
}
.onboarding__slider-wrapper .slick-dots {
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.onboarding__slider-wrapper .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 0;
}
.onboarding__slider-wrapper .slick-dots .slick-active {
  width: 16px;
  background-color: #FF9933;
  border-radius: 5px;
}
.onboarding__slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.onboarding__slide .onboarding__image {
  margin: 140px auto 60px;
}
.onboarding__slide--first {
  background-image: url("../../img/background-2.svg");
}
.onboarding__slide--second {
  background-image: url("../../img/background-3.svg");
}
.onboarding__slide--last {
  background-image: url("../../img/background-4.svg");
}
.onboarding__slide--last .yellow-btn {
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
}
.onboarding__subtitle {
  width: 80%;
  margin: auto;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
}
.onboarding__description {
  width: 80%;
  margin: 20px auto 0;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

/*# sourceMappingURL=onboarding.css.map */
