/* ---------------------- */
/*         SESSION        */
/* ---------------------- */
/* ---------------------- */
/*         BUTTONS        */
/* ---------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ------ MONTSERRAT BLACK ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BLACK ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA LIGHT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT REGULAR ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT THIN ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT THIN ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
.blue-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.grey-btn {
  width: 70px;
  height: 26px;
  border-radius: 24px;
  background-color: #D9D9D9;
  color: #000000;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 23px;
}

.yellow-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #FF9933;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.white-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #FFFFFF;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.dark-blue-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #11205E;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.light-yellow-btn {
  width: 265px;
  height: 58px;
  border-radius: 38px;
  background-color: #E0D3BB;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.return-btn {
  position: absolute;
  top: 85px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #11205E;
  background-image: url("../../img/white-left-chevron.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  color: transparent;
}

.add-picture-btn {
  position: absolute;
  bottom: 5px;
  right: 30px;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background-image: url("../../img/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  background-color: #FFFFFF;
}

.long-grey-btn {
  width: 284px;
  height: 54px;
  margin: 0 0 37px 0;
  border-radius: 8px;
  background-color: #F0F0F9;
  color: #11205E;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
.session {
  width: 100%;
  height: 100vh;
  background-color: #274C97;
}
.session__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
}
.session__wrapper .yellow-btn,
.session__wrapper .light-yellow-btn {
  position: absolute;
  bottom: 53px;
}
.session__wrapper .light-yellow-btn.is-active {
  background-color: #FF9933;
}
.session__wrapper--first {
  background-image: url("../../img/background-19.svg");
  background-position: bottom;
}
.session__wrapper--first.is-hidden {
  display: none;
}
.session__wrapper--second {
  display: none;
  background-image: url("../../img/background-20.svg");
  background-position: bottom;
}
.session__wrapper--second.is-active {
  display: flex;
}
.session__wrapper--third {
  display: none;
  background-image: url("../../img/background-21.svg");
  background-position: bottom;
}
.session__wrapper--third.is-active {
  display: flex;
}
.session__wrapper--fourth {
  display: none;
  background-image: url("../../img/background-22.svg");
  background-position: bottom;
}
.session__wrapper--fourth.is-active {
  display: flex;
}
.session__wrapper--fifth {
  display: none;
  background-image: url("../../img/background-23.svg");
  background-position: bottom;
}
.session__wrapper--fifth.is-active {
  display: flex;
}
.session__wrapper--sixth {
  display: none;
  background-image: url("../../img/background-24.svg");
  background-position: bottom;
}
.session__wrapper--sixth.is-active {
  display: flex;
}
.session__wrapper--seventh {
  display: none;
  background-image: url("../../img/background-18.svg");
  background-position: top;
}
.session__wrapper--seventh.is-active {
  display: flex;
}
.session__progression-bar {
  position: absolute;
  top: 100px;
  width: 185px;
  height: 9px;
  margin: 0 0 50px 0;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.session__progression-bar .progression {
  height: 9px;
  border-radius: 9px;
  background-color: #FF9933;
}
.session__progression-bar .progression--first {
  width: 17px;
}
.session__progression-bar .progression--second {
  width: 52px;
}
.session__progression-bar .progression--third {
  width: 78px;
}
.session__progression-bar .progression--fourth {
  width: 102px;
}
.session__progression-bar .progression--fifth {
  width: 134px;
}
.session__progression-bar .progression--sixth {
  width: 185px;
}
.session__subtitle {
  position: absolute;
  top: 160px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
}
.session__text {
  width: 75%;
  margin: 60px 0 40px 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.session__wave {
  position: absolute;
  top: 260px;
}
.session__colors {
  display: flex;
  margin: 20px 0 70px;
}
.session__colors .color {
  position: relative;
  width: 65px;
  height: 65px;
  margin: 0 25px;
  border-radius: 100%;
}
.session__colors .color--blue {
  background-color: #BAE0E9;
  transition: all 0.2s ease-in-out;
}
.session__colors .color--blue.is-active::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -7px;
  width: 77px;
  height: 77px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__colors .color--green {
  background-color: #C1D2B0;
  transition: all 0.2s ease-in-out;
}
.session__colors .color--green.is-active::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -7px;
  width: 77px;
  height: 77px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__colors .color--brown {
  background-color: #DEC8A7;
  transition: all 0.2s ease-in-out;
}
.session__colors .color--brown.is-active::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -7px;
  width: 77px;
  height: 77px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.session__next-btn.is-active .session__round {
  position: relative;
  background-color: #FF9933;
  transition: all 0.2s ease-in-out;
}
.session__next-btn.is-active .session__round::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__round {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.session__later {
  position: relative;
  margin: 0px 0 0px 10px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}
.session__water-quality-wrapper {
  display: flex;
  align-items: center;
  margin: 110px 0 90px 0;
}
.session__water-quality {
  position: relative;
  width: 132px;
  height: 172px;
  margin: 0 6px;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.session__water-quality img {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.session__water-quality p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 19px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #11205E;
  text-align: center;
}
.session__water-quality--good.is-active {
  width: 142px;
  height: 185px;
}
.session__water-quality--good.is-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: 152px;
  height: 199px;
  border-radius: 8px;
  border: 1px solid #FF9933;
}
.session__water-quality--bad.is-active {
  width: 142px;
  height: 185px;
}
.session__water-quality--bad.is-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: 152px;
  height: 199px;
  border-radius: 8px;
  border: 1px solid #FF9933;
}
.session__products-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 140px 0 0 0;
}
.session__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/3 - 30px);
  margin: 15px;
  opacity: 0.4;
}
.session__products .product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.session__products p {
  margin: 5px 0 0 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}
.session__products--sunscreen, .session__products--perfume, .session__products--cream, .session__products--cosmetics, .session__products--gas, .session__products--cigaret, .session__products--pesticides, .session__products--paint, .session__products--more {
  position: relative;
  transition: all 0.2s ease-in-out;
}
.session__products--sunscreen.is-active, .session__products--perfume.is-active, .session__products--cream.is-active, .session__products--cosmetics.is-active, .session__products--gas.is-active, .session__products--cigaret.is-active, .session__products--pesticides.is-active, .session__products--paint.is-active, .session__products--more.is-active {
  opacity: 1;
}
.session__products--sunscreen.is-active::before, .session__products--perfume.is-active::before, .session__products--cream.is-active::before, .session__products--cosmetics.is-active::before, .session__products--gas.is-active::before, .session__products--cigaret.is-active::before, .session__products--pesticides.is-active::before, .session__products--paint.is-active::before, .session__products--more.is-active::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 11px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__frequentations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px 0 0 0;
}
.session__small-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.session__numbers {
  display: flex;
  justify-content: center;
  margin: 27px 0 54px;
}
.session__numbers .short-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 52px;
  margin: 0 7px;
  background-color: #FFFFFF;
  border-radius: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #11205E;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}
.session__numbers .short-number--min.is-active, .session__numbers .short-number--max.is-active {
  opacity: 1;
}
.session__numbers .short-number--min.is-active::before, .session__numbers .short-number--max.is-active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -4px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__numbers .long-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 52px;
  margin: 0 7px;
  background-color: #FFFFFF;
  border-radius: 100px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #11205E;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}
.session__numbers .long-number--min.is-active, .session__numbers .long-number--max.is-active {
  opacity: 1;
}
.session__numbers .long-number--min.is-active::before, .session__numbers .long-number--max.is-active::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 95px;
  height: 65px;
  border-radius: 38px;
  border: 1px solid #FF9933;
}
.session__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 130px 0 0 0;
}
.session__boats .long-number--fishing.is-active, .session__boats .long-number--hobby.is-active, .session__boats .long-number--boat.is-active {
  opacity: 1;
}
.session__boats .long-number--fishing.is-active::before, .session__boats .long-number--hobby.is-active::before, .session__boats .long-number--boat.is-active::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 95px;
  height: 65px;
  border-radius: 38px;
  border: 1px solid #FF9933;
}
.session__numbers-boats {
  position: relative;
  width: 100%;
}
.session__numbers-boats .session__numbers--min.is-active, .session__numbers-boats .session__numbers--max.is-active {
  opacity: 1;
}
.session__numbers-boats .session__numbers--min.is-active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -4px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #FF9933;
}
.session__numbers-boats .session__numbers--max.is-active::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 95px;
  height: 65px;
  border-radius: 38px;
  border: 1px solid #FF9933;
}
.session__notes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 0 0;
}
.session__notes-wrapper textarea {
  width: 288px;
  height: 180px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 18px;
}
.session__thanking-text {
  margin: 370px 0 -30px 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}
.session__wrapper--seventh .session__text {
  width: 85%;
}

/*# sourceMappingURL=session.css.map */
