/* ---------------------- */
/*       ON BOARDING      */
/* ---------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ------ MONTSERRAT BLACK ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BLACK ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA LIGHT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT REGULAR ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT THIN ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT THIN ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
.onboarding {
  background-color: #0073BE;
  background-image: url("../../img/background.svg");
  background-repeat: no-repeat;
}
.onboarding.is-hidden {
  display: none;
}
.onboarding__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.onboarding__first.is-hidden {
  display: none;
}
.onboarding__title {
  width: 80%;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}
.onboarding__image {
  width: 200px;
  height: 340px;
  margin: 50px 0 60px;
}
.onboarding__text {
  margin: 22px 0 0 0;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #FFFFFF;
}
.onboarding__link {
  text-decoration: underline;
}
.onboarding__second {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0073BE;
}
.onboarding__second.is-active {
  display: flex;
}
.onboarding__pass-btn {
  position: absolute;
  top: 30px;
  right: 15px;
}
.onboarding__slider-wrapper {
  width: 100%;
  height: 100%;
}
.onboarding__slider-wrapper .slick-list {
  overflow-x: hidden;
}
.onboarding__slider-wrapper .slick-list .slick-track {
  display: flex;
  height: 100vh;
}
.onboarding__slider-wrapper .slick-list .slick-track .slick-slide {
  display: flex;
  flex-direction: column;
}
.onboarding__slider-wrapper .slick-dots {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.onboarding__slider-wrapper .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 0;
}
.onboarding__slider-wrapper .slick-dots .slick-active {
  width: 16px;
  background-color: #11205E;
  border-radius: 5px;
}
.onboarding__slide {
  position: relative;
  background-repeat: no-repeat;
}
.onboarding__slide .onboarding__image {
  margin: 90px auto 40px;
}
.onboarding__slide--first {
  background-image: url("../../img/background-2.svg");
}
.onboarding__slide--second {
  background-image: url("../../img/background-3.svg");
}
.onboarding__slide--last {
  background-image: url("../../img/background-4.svg");
}
.onboarding__slide--last .blue-btn {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
}
.onboarding__subtitle {
  width: 80%;
  margin: auto;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
}
.onboarding__description {
  width: 80%;
  margin: 20px auto 0;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

/*# sourceMappingURL=onboarding.css.map */
