/* ---------------------- */
/*      SUBSCRIPTION      */
/* ---------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
/* ----------------------------- *
 *           VARIABLES           *
 * ----------------------------- */
/* ---------- FONTS ---------- */
/* ---------- COLORS ---------- */
/* ------ MONTSERRAT BLACK ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BLACK ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT EXTRA LIGHT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT LIGHT ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT MEDIUM ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT REGULAR ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT SEMI BOLD ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT THIN ------ */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
/* ------ MONTSERRAT THIN ITALIC ------ */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
.subscription {
  width: 100%;
  height: 100vh;
  background-color: #274C97;
}
.subscription__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
}
.subscription__wrapper .yellow-btn,
.subscription__wrapper .light-yellow-btn {
  position: absolute;
  bottom: 53px;
}
.subscription__wrapper .light-yellow-btn.is-active {
  background-color: #FFAD06;
}
.subscription__wrapper--first {
  background-image: url("../../img/background-5.svg");
  background-position: bottom;
}
.subscription__wrapper--first.is-hidden {
  display: none;
}
.subscription__wrapper--second {
  display: none;
  background-image: url("../../img/background-11.svg");
  background-position: bottom;
}
.subscription__wrapper--second.is-active {
  display: flex;
}
.subscription__wrapper--third {
  display: none;
  background-image: url("../../img/background-12.svg");
  background-position: bottom;
}
.subscription__wrapper--third.is-active {
  display: flex;
}
.subscription__wrapper--fourth {
  display: none;
  background-image: url("../../img/background-13.svg");
  background-position: bottom;
}
.subscription__wrapper--fourth.is-active {
  display: flex;
}
.subscription__wrapper--fifth {
  display: none;
  background-image: url("../../img/background-10.svg");
  background-position: center 100px;
}
.subscription__wrapper--fifth.is-active {
  display: flex;
}
.subscription__wrapper--sixth {
  display: none;
  background-image: url("../../img/background-14.svg");
  background-position: bottom;
}
.subscription__wrapper--sixth.is-active {
  display: flex;
}
.subscription__wrapper--seventh {
  display: none;
  background-image: url("../../img/background-15.svg");
  background-position: bottom;
}
.subscription__wrapper--seventh.is-active {
  display: flex;
}
.subscription__wrapper--seventh .yes,
.subscription__wrapper--seventh .no {
  transition: all 0.2s ease-in-out;
}
.subscription__wrapper--seventh .yes.is-active,
.subscription__wrapper--seventh .no.is-active {
  background-color: #11205E;
  color: #FFFFFF;
}
.subscription__wrapper--eighth {
  display: none;
  background-image: url("../../img/background-16.svg");
  background-position: bottom;
}
.subscription__wrapper--eighth.is-active {
  display: flex;
}
.subscription__wrapper--nineth {
  display: none;
  background-image: url("../../img/background-9.svg");
  background-position: bottom left;
}
.subscription__wrapper--nineth.is-active {
  display: flex;
}
.subscription__wrapper--nineth .long-grey-btn {
  margin: 330px 0 37px;
  transition: all 0.2s ease-in-out;
}
.subscription__wrapper--nineth .long-grey-btn.is-active {
  background-color: #11205E;
  color: #FFFFFF;
}
.subscription__wrapper--tenth {
  display: none;
  background-image: url("../../img/background-17.svg");
  background-position: bottom left;
}
.subscription__wrapper--tenth.is-active {
  display: flex;
}
.subscription__progression-bar {
  position: absolute;
  top: 100px;
  width: 185px;
  height: 9px;
  margin: 0 0 50px 0;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.subscription__progression-bar .progression {
  height: 9px;
  border-radius: 9px;
  background-color: #FFAD06;
}
.subscription__progression-bar .progression--first {
  width: 17px;
}
.subscription__progression-bar .progression--second {
  width: 34px;
}
.subscription__progression-bar .progression--third {
  width: 48px;
}
.subscription__progression-bar .progression--fourth {
  width: 76px;
}
.subscription__progression-bar .progression--fifth {
  width: 87px;
}
.subscription__progression-bar .progression--sixth {
  width: 104px;
}
.subscription__progression-bar .progression--seventh {
  width: 130px;
}
.subscription__progression-bar .progression--eighth {
  width: 158px;
}
.subscription__progression-bar .progression--nineth {
  width: 164px;
}
.subscription__subtitle {
  position: absolute;
  top: 160px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
}
.subscription__title {
  width: 60%;
  margin: 50px 0 30px 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  color: #FFFFFF;
  text-align: center;
}
.subscription__text {
  width: 75%;
  margin: 60px 0 40px 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.subscription__small-text {
  width: 75%;
  margin: -20px 0 40px 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
.subscription__wave {
  position: absolute;
  top: 260px;
}
.subscription__check {
  width: 218px;
  margin: 0 0 118px 0;
}
.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 160px 0 35px 0;
}
.subscription__form input {
  margin: 0 0 30px 0;
  padding: 0 20px;
}
.subscription__input {
  margin: 20px 0 35px 0;
  padding: 0 20px;
}
.subscription__gender-wrapper, .subscription__activity-wrapper {
  display: flex;
  align-items: center;
  margin: 110px 0 90px 0;
}
.subscription__gender, .subscription__activity {
  position: relative;
  width: 132px;
  height: 172px;
  margin: 0 6px;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.subscription__gender p, .subscription__activity p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 19px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #11205E;
}
.subscription__gender img, .subscription__activity img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
}
.subscription__gender--male.is-active, .subscription__activity--male.is-active {
  width: 142px;
  height: 185px;
}
.subscription__gender--male.is-active::before, .subscription__activity--male.is-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: 152px;
  height: 199px;
  border-radius: 8px;
  border: 1px solid #FFAD06;
}
.subscription__gender--female.is-active, .subscription__activity--female.is-active {
  width: 142px;
  height: 185px;
}
.subscription__gender--female.is-active::before, .subscription__activity--female.is-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: 152px;
  height: 199px;
  border-radius: 8px;
  border: 1px solid #FFAD06;
}
.subscription__gender--swim.is-active, .subscription__activity--swim.is-active {
  width: 142px;
  height: 185px;
}
.subscription__gender--swim.is-active::before, .subscription__activity--swim.is-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: 152px;
  height: 199px;
  border-radius: 8px;
  border: 1px solid #FFAD06;
}
.subscription__gender--surf.is-active, .subscription__activity--surf.is-active {
  width: 142px;
  height: 185px;
}
.subscription__gender--surf.is-active::before, .subscription__activity--surf.is-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: 152px;
  height: 199px;
  border-radius: 8px;
  border: 1px solid #FFAD06;
}
.subscription__next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription__next-btn.is-active .subscription__round {
  position: relative;
  background-color: #FFAD06;
  transition: all 0.2s ease-in-out;
}
.subscription__next-btn.is-active .subscription__round::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #FFAD06;
}
.subscription__round {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.subscription__nogender, .subscription__later {
  position: relative;
  margin: 0px 0 0px 10px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}
.subscription__picture {
  position: relative;
  width: 228px;
  height: 228px;
  margin: 130px 0 60px 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.subscription__level-wrapper {
  display: flex;
  flex-direction: column;
  margin: 180px 0 60px 0;
}
.subscription__level-wrapper .begginner,
.subscription__level-wrapper .intermediate,
.subscription__level-wrapper .advanced {
  transition: all 0.2s ease-in-out;
}
.subscription__level-wrapper .begginner.is-active,
.subscription__level-wrapper .intermediate.is-active,
.subscription__level-wrapper .advanced.is-active {
  background-color: #11205E;
  color: #FFFFFF;
}

/*# sourceMappingURL=subscription.css.map */
